<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Force www" stopProcessing="true">
                    <match url=".*" />
                    <action type="Redirect" url="http://www.arunstephens.com/{R:0}" redirectType="Permanent" />
                    <conditions>
                        <add input="{HTTP_HOST}" pattern="^arunstephens.com$" />
                    </conditions>
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
